@font-face {
  font-family:'fugazi'; /* Escolha um nome para a fonte */
  src: url('font/campus/CAMPUS\ PERSONAL\ USE.ttf'); /* Caminho para o arquivo da fonte */
}
@font-face {
  font-family:'pixies';
  src: url('font/birds_paradise/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf');
}
@font-face {
  font-family:'nome-site';
  src: url('font/futurist/FUTRFW.TTF');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
header {
  background-color: #1c1c1c;
  max-width: 100%;
  height: auto;
  margin-top: 0;
}
.nome-site {
  margin-top: 0;
  text-align: center;
  padding:20px 0px 20px 0px;
  font-family: nome-site;
  font-size: clamp(1.5rem, 5vw, 3rem);
  background-color:#DAA520;
  
 }
.lista-menu {
  height: auto;
  max-width: 100%;
  background-color: #1c1c1c;
  display: flex; /* Exibe os itens lado a lado */
  list-style: none; /* Remove os marcadores de lista */
  padding: 0;
  margin: 0;
}

.lista-menu li a {
  padding:5px;
  text-decoration: none;
  color: #DAA520;
  display: block;
}
.lista-menu a:hover {
  background-color:#DAA520;
  color:#1c1c1c;
;
}


.icones-redes-topo {
  display: flex;
  justify-content: end;
  margin-right:50px;

}
.icones-redes-topo a {
  padding:5px;

}

.titulo-pagina {
  font-size: clamp(1.5rem, 5vw, 3rem);
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:5px;
  margin-bottom:20px;

}

main {
  flex-grow: 1; /* Faz com que o <main> ocupe todo o espaço vertical disponível */
}
.artigo {
  margin-top: 50px;

}
.h2-artigo-pixies{
  font-family:pixies;
  font-size: clamp(5rem, 5vw, 3rem);
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.h2-artigo-fugazi{
  font-family: fugazi;
  font-size: clamp(5rem, 5vw, 3rem);
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.h1-artigo {
  font-size: clamp(1.5rem, 5vw, 3rem);
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.data-postagem {
  background-color: #DAA520;
  padding: 5px;
  margin-left: 20%;
  margin-right: 20%;
  font-weight:800;

}
.videos {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.img-artigo {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  
}
.img-artigo-album {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;

}
.h2-artigo {
  font-size:20px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 40px;

}
.h3-artigo {
  font-size:20px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.paragrafo-artigo {
  
  font-size: clamp(1rem, 2vw, 1.2rem); 
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
  
}
.fonte-do-artigo {
  margin-left: 20%;
  margin-right: 20%;
  font-weight:800;
  
}
.legenda {
  background-color:#DCDCDC;
  margin-left: 30%;
  margin-right:30%;
  font-weight: 800;
}
.contador-visitas {
  margin-top:50px;
  margin-bottom: 10px;
}

.voltar-inicio{
  display:flex;
  justify-content: center;
}
.voltar-inicio a {
  font-size: clamp(1rem, 2vw, 1.2rem); 
  color: #000;
}
.voltar-inicio a:hover {
  background-color: #DAA520;
  text-decoration: none;
  border-radius: 2px;
  

}
footer { 
  max-width: 100%;
  height: auto;
  background-color: #1c1c1c;
}

.copyright {
  max-width: 100%;
  height: auto;
}


.copyright-adeilson {
  
  max-width: 100%;
  padding-top: 60px;
  height:auto;
  display: flex;
  justify-content: center;
  color:#DAA520;
  font-size: clamp(1rem, 2vw, 1.2rem); 
}


/* Media query para telas menores que 768px (tablets e celulares) */
@media screen and (min-width:768px) {
  #menuToggle {
    display: none;
  }
}
@media screen and (max-width:768px) {
  .menu-navegacao {
    display: none ;
  }
}
@media screen and (max-width: 768px) {
  .lista-menu {
    flex-direction: column; /* Altera a direção para coluna */
    text-align: center; /* Centraliza os itens na coluna */
  }
}


/* Media query para telas menores que 768px (tablets e celulares) */
@media screen and (max-width: 768px) {
  .icone-redes {
    display: none; /*Não vai mostrar os icones de redes sociais para tela menoes*/
  }
}
@media screen and (max-width: 768px) {
  .img-artigo {
    width:80%;
  }

}

@media screen and (max-width: 768px) {
  .icone-redes-rodape {
    flex-direction: column; /* Altera a direção para coluna */
    text-align: center; /* Centraliza os itens na coluna */
    border-radius: 10px;
  }
}
